@import "mq";
@import "fonts";
@import "palette";

// Uncomment for embeds
@import "embed";
// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

.element-atom,
.interactive-atom {
    margin: 0 !important;



}

.interactive-wrapper {
    height: 100%;
    width: 100%;
    min-width: 280px;
    min-height: 150px;


    .gv-vs-chart-title {
        @include fs-headline(3);
        font-weight: 700;
    }
    .gv-vs-chart-subtitle {
        @include fs-bodyCopy(1);
        margin-bottom: 12px;
    }

    .gv-main-party-1,.gv-main-party-2 {
        @include fs-bodyHeading(2)
    }

    .gv-party-name,.gv-party-result {
        @include fs-textSans(3);
    }

    .gv-party-name {
        font-weight: 700;

    }

    .gv-vs-source {
        padding-top: 5px;
        @include fs-textSans(2);
        float: right;
    }

    .gv-current-year,.gv-previous-year {
        @include fs-textSans(1);
    }

    .gv-current-year {
        fill: white;
    }


}
